extends layout

block contenido
    .contenido-principal
        h1 #{nombrePagina} - #{proyecto.nombre}

        //TODO - FORMULARIO AQUI
        
        form.agregar-tarea(action=`/proyectos/${proyecto.url}` method="POST")
            .campo
                label Tarea:
                input.nombre-tarea(type="text" name="tarea" placeholder="Nombre de Tarea")
            .campo-enviar
                input.boton.nueva-tarea(type="submit" value="Agregar")
        //TODO LISTADO DE PENDIENTES

        //- pre= vardump(tareas)
        .listado-pendientes
            ul
                if tareas.length
                    each tarea in tareas
                        li.tarea(data-tarea=tarea.id)
                            p=tarea.tarea
                            .acciones 
                                if tarea.estado
                                    i.fas.fa-check-circle.completo
                                else
                                    i.fas.fa-check-circle
                                i.fas.fa-trash
                else 
                    p No hay tareas en este proyecto

        //Avance del proyecto
        .avance
            h2 Avance del Proyecto
            #barra-avance.barra-avance
                #porcentaje.porcentaje



        //ACCIONES QUE SE PUEDEN REALIZAR
        .contenedor-acciones
            a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar Proyecto
            button#eliminar-proyecto(data-proyecto-url=proyecto.url type="button" class="boton eliminar") Eliminar Proyecto